<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Ferocious Fitness{% endblock title %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'booking_page' %}">Book a Session</a></li>
            <li><a href="{% url 'profile' %}">Profile</a></li>
            <li><a href="{% url 'account_login' %}">Login</a></li>
            <li><a href="{% url 'account_signup' %}">Signup</a></li>
            <li><a href="{% url 'account_logout' %}">Logout</a></li>
        </ul>
    </nav>
    <div class="content">
        {% block content %}
        {% endblock content %}
    </div>
    <script src="{% static 'js/profile.js' %}"></script>
</body>
</html>