{% extends "users/base.html" %}
{% load custom_filters %}
{% load static %}
{% block title %}
    {{ user.username }}'s Profile
{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock css %}

{% block content %}
<h1 id="site-title">{{ user.username }}'s Profile</h1>

<div class="profile-content">

    <!-- Display profile picture if available -->
    {% if profile.get_profile_pic %}
        <img src="data:image/jpeg;base64,{{ profile.get_profile_pic|b64encode }}" alt="Profile Picture" class="profile-pic">
    {% endif %}
    <!-- Display user email -->
    <p><strong>Email:</strong> {{ user.email }}</p>  
    <!-- Display user bio -->
    <p><strong>Bio:</strong> {{ profile.bio }}</p>
    <!-- Display subscription status -->
    <p><strong>Subscription Status:</strong> {{ profile.subscription_status }}</p>
    <!-- Display join date -->
    <p><strong>Joined on:</strong> {{ profile.join_date }}</p>
    <!-- Button to show the form -->
    <button id="update-profile-btn" class="custom-button">Update Your Profile</button>

    <!-- Form container, initially hidden -->
    <div id="profile-form-container" class="profile-form">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button id="update-profile-btn" class="custom-button" onclick="toggleProfileForm()">Update Your Profile</button>
        </form>
    </div>
    <!-- Booked Sessions -->
    <h2>Booked Sessions</h2>
    <ul>
        {% for booking in bookings %}
        <li>
            <!-- display booking details -->
            {{ booking.session.title }} on {{ booking.session.date }} at {{ booking.session.time }}
            <!-- cancel button -->
            <form action="{% url 'cancel_booking' booking.id %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button id="cancel-booking-btn-{{ booking.id }}" type="submit" class="custom-button">Cancel Booking</button>
            </form>
        </li>        
        {% empty %}
            <li>You have no booked sessions.</li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}
{% block extra-js %}

<script>
    function toggleProfileForm() {
        var formContainer = document.getElementById('profile-form-container');
        if (formContainer.style.display === 'none' || formContainer.style.display === '') {
            formContainer.style.display = 'block';
        } else {
            formContainer.style.display = 'none';
        }
    }
</script>
{% endblock extra-js %}